<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSPDefaultFilenameTemplate</key>
	<string>MyScreenShotName</string>
	<key>DSPLoadDotSnapAtStart</key>
	<true/>
	<key>DSPAddsTimestamp</key>
	<false/>
	<key>DSPAutosaveInputField</key>
	<true/>
	<key>DSPDefaultFilePathKey</key>
	<string>@default</string>
	<key>DSPFilenameHistory</key>
	<array/>
</dict>
</plist>
