<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DSPDefaultFilenameTemplate</key>
	<string>MyScreenShotName</string>
	<key>DSPLoadDotSnapAtStart</key>
	<false/>
	<key>DSPAddsTimestamp</key>
	<false/>
	<key>DPSFilenameHistory</key>
	<array>
		<string> </string>
		<string> </string>
		<string> </string>
		<string> </string>
	</array>
</dict>
</plist>
